body{
font-family:"Vazir",sans-serif;
background-color:#ffe6f0 ;
text-align:center;
padding-top:100px;
}
.box{
    background-color:#fff0f5 ;
    border:2px solid #ff69b4;
    border-radius:15px;
    padding:30px;
    display:inline-block;
}
button{
    font-size:18px;
    margin:10px;
    padding:10px 20px;
    border-radius:10px;
    border:none;
    cursor:pointer;
}
#yesBtn{
    background-color:#ff69b4 ;
    color:white;
}
#noBtn{
    background-color:#d3d3d3;
}
#message{
    margin-top:20px;
    font-size:22px;
    color:#ff1493;
}